.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.body {
  background: rgb(26, 188, 156);
  background: -moz-linear-gradient(
    -45deg,
    rgba(26, 188, 156, 1) 0%,
    rgba(142, 68, 173, 1) 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(26, 188, 156, 1) 0%,
    rgba(142, 68, 173, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(26, 188, 156, 1) 0%,
    rgba(142, 68, 173, 1) 100%
  );
}
.audio-control {
  width: 40vw;
}

.play-list {
  color: burlywood;
  font-size: 30px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.music-cursor {
  cursor: pointer;
}

.label {
  background-color: #61dafb;
  padding: 5px;
  border-radius: 10px;
}

.music-id {
  background-color: antiquewhite;
}
